<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- navigation menu -->
    <nav class="navbar">
        <div class="container navbar-container">
            <input type="checkbox" name="" id="">

            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>

            <ul class="menu-items">
                <li><a href="#home">Home</a></li>
                
                <li><a href="#about">About</a></li>
                <li><a href="#food">Category</a></li>
                <li><a href="#food-menu">Menu</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>

            <h1 class="logo">RestZee</h1>
        </div>
    </nav>
    <!-- end of menu -->

    <!-- home section -->
        <section id="showcase" class="showcase-area">
           <div class="back"><div class="showcase-container">
            <h1 class="main-title" id="home">Partner With Our website's name</h1>
            <p class="ya">Enjoy Your Exciting & Sizzling Journey With Us!</p>
            <div class="f">
           <div class="u"><a href="#food-menu" class="btn btn-primary">Register Your Restaurant</a></div> 
            <div class="u"><a href="#food-menu" class="btn btn-primary">View Your Existing Restaurant</a></div>
       
    </div></div>
            
        </section>
    <!-- home section ends -->
<!-- food section -->
<section id="food">
    <h2>Why should you partner with US?</h2>
    <p>We enables you to get 60% more revenue, 10x new customers and boost your brand visibility by providing insights to improve your business.</p>
    <div class="row">
        <div class="column">
          <div class="card">1000+ cities
            in India</div>
        </div>
        <div class="column">
          <div class="card">3 lakh+
            restaurant listings</div>
        </div>
        <div class="column">
          <div class="card">5.0 crore+
            monthly orders</div>
        </div>
       
      </div>
   
</section>
<!-- food section ends-->

    

    <!-- testimonials -->
        <section id="testimonials">
            <h2 class="testimonial-title">How It Works?</h2>
            <div class="testimonial-container container">
                <div class="testimonial-box">
                    <div class="customer-detail">
                        <div class="customer-photo">
                            <img src="https://clipground.com/images/adhesive-note-clipart-19.jpg" alt="first">
                            <p class="customer-name">Step-1</p>
                        </div>
                    </div>
                   <h3 class="h">Create your page</h3>
                    <p class="testimonial-text">
                        Help users discover your place by creating a listing on Zomato</p>
                </div>
                <div class="testimonial-box">
                    <div class="customer-detail">
                        <div class="customer-photo">
                            <img src="https://img.freepik.com/free-vector/delivery-man-riding-red-scooter-illustration_9845-14.jpg?size=338&ext=jpg" alt="second">
                            <p class="customer-name">Step-2</p>
                        </div>
                    </div>
                    <h3 class="h">Register for online ordering</h3>
                    <p class="testimonial-text">
                        And deliver orders to millions of customers with ease</p>
                </div>
                <div class="testimonial-box">
                    <div class="customer-detail">
                        <div class="customer-photo">
                            <img src="https://lh6.googleusercontent.com/proxy/F7ox-toC_dAjkj90ZVIOmgvTOXpIrSFZ-jkawXU-jdOlEdrj7t0uMYMztZ2Kcr0-H08cAFPvoiGQcCwl9JlFLkzDWEj1FH3xM-KPZcRSO84JJGGGquJxE10=s0-d" alt="third">
                            <p class="customer-name">Step-3</p>
                        </div>
                    </div>
                    <h3 class="h">Start receiving orders online</h3>
                    <p class="testimonial-text">
                        Manage orders on our partner app, web dashboard or API partners</p>
                </div>
            </div>
        </section>
    <!-- testimonials ends -->
    <!-- FAQ -->
    <div class="section" id="faq">
        <h2 class="secondary">Frequently Asked Questions</h2>
  
        <div class="faq">
          <details>
            <summary>How much would this website cost for creating a page on this site?</summary>
            <div class="content">
              <p>
                Creating a restaurant page is free of cost. You can maintain your page by replying to reviews and do a lot more without any charges.
              </p>
            </div>
          </details>
  
          <details>
            <summary>How much would this website cost for creating a page on this site?</summary>
            <div class="content">
              <p>
                Creating a restaurant page is free of cost. You can maintain your page by replying to reviews and do a lot more without any charges.
              </p>
            </div>
          </details>
  
          <details>
            <summary>How much would this website cost for creating a page on this site?</summary>
            <div class="content">
              <p>
                Creating a restaurant page is free of cost. You can maintain your page by replying to reviews and do a lot more without any charges.
              </p>
            </div>
          </details>
  
          <details>
            <summary>How much would this website cost for creating a page on this site?</summary>
            <div class="content">
              <p>
                Creating a restaurant page is free of cost. You can maintain your page by replying to reviews and do a lot more without any charges.
              </p>
            </div>
          </details>
        </div>
      </div>
      <!-- End FAQ -->
  
    <!-- contact section -->
    <section id="contact">
        <div class="contact-container container">
            <div class="contact-img">
                <img src="https://i.postimg.cc/1XvYM67V/restraunt2.jpg" alt="contact img">
            </div>
            <form class="form-container">
                <h2>Cannot find your favourite restaurant on Website's Name</h2>
                <p class="gut">Submit the details and our team will get the restaurant onboard</p>
                <input type="text" name="name" id="name" placeholder="Restaurant Name" required>
                <input type="email" name="email" id="email" placeholder="Restaurant Contact Number" required>
                <textarea name="msg" id="msg" cols="30" rows="5" placeholder="What do you like about the Restaurant" required></textarea>
                <input type="button" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </section>
<!-- contact section ends -->

    
    <footer id="footer">
        <h2>RestZee &copy; 2022, All Rights Reserved. </h2>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        // for smooth scrolling

    </script>
</body>
</html>