<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style3.css">
    <link rel="stylesheet" href="./media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
  <body>
   
    <!-- Hero Section -->
    <div class="section flex" id="hero-section">
      <div class="text">
        <h1>Restaurant's Name</h1>
     
        <h2>Location</h2>
        
          
       

        

        <a href="#menu" class="btn">Explore Menu</a>
       
      </div>
      <div class="visual">
        <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/home-banner.png" alt="" />
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- How It Works -->
    <div class="section" id="how-it-works">
        <h2 class="testimonial-title">Special Offers</h2>
<br/>
      <div class="container flex">
        <div class="box">
          <h3 class="second">Flat $25 OFF</h3>
          <ion-icon name="timer-outline"></ion-icon>
          <p class="second">
            USE DEALICIOUS|ABOVE $50
          </p>
        </div>

        <div class="box">
          <h3 class="second">Flat 40% OFF</h3>
          <ion-icon name="trophy-outline"></ion-icon>
          <p class="second">
            USE PARTY|ABOVE $100
          </p>
        </div>

        <div class="box">
          <h3 class="second">FLAT $15 OFF</h3>
          <ion-icon name="checkmark-done-circle-outline"></ion-icon>
          <p class="second">
            NO CODE REQUIRED|ABOVE $150
          </p>
        </div>
      </div>
    </div>
    <!-- End How It Works -->

    <!-- About -->
    <div class="fu">
     
      
      <div class="section" id="about">
        <div class="container flex">
          <div class="visual">
            <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/about.png" alt="" />
          </div>
          <div class="text" id="i">
            <div class="secondary">About Our Restaurant</div>
            <h2 class="primary">150+</h2>
  
            <h3 class="tertiary">Our Delicious Food</h3>
  
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia
              itaque saepe id hic rem doloribus quas esse voluptatibus eius sequi,
              possimus maxime dolores tempore facilis fugit porro mollitia, est
              consequuntur.
            </p>
  
            <a href="#menu" class="btn">Explore More</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- End About -->

    <!-- Restaurant Menu -->
    <div class="section" id="menu">
      <div class="containe">
        <h2 class="testimonial-title">Our Menu</h2>
        <div class="input-group">
            <input type="search"class="ya"placeholder="Search Your Favourite Food" aria-label="Search" aria-describedby="search-addon" />
            <button type="btn" class="yo">SEARCH</button>
          </div>
        <ul class="category">
          <li class="active">All</li>
          <li class="po">Starters</li>
          <li class="po">Main Course</li>
          <li class="po">Special Meal</li>
          <li class="po">Beverages</li>
          
          <li class="po">Desserts</li>
        </ul>

        <div class="container">
          <div class="restaurant-menu">
            <div class="menu-item">
              <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-1.jpg" alt="" />

              <div class="title">Food Restaurant | Chineese & Thai</div>

              <div class="location">Very Spicy | Serves 1 | Served Dry |</div>
              <div class="price">Price : $25.00</div>
              <div class="order flex">
                
                <div class="o">
                  <a href="#" class="btn btn-menu">ORDER NOW</a>
                  <a href="#" class="btn btn-menu">ADD TO CART</a>
               
                </div>
              </div>
              
            </div>

            <div class="menu-item">
              <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-2.jpg" alt="" />

              <div class="title">Food Restaurant | Chineese & Thai</div>

              <div class="location">Very Spicy | Serves 1 | Served Dry |</div>

              <div class="price">Price : $25.00</div>
              <div class="order flex">
                
                <div class="o">
                  <a href="#" class="btn btn-menu">ORDER NOW</a>
                  <a href="#" class="btn btn-menu">ADD TO CART</a>
               
                </div>
              </div>
            </div>

            <div class="menu-item">
              <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-3.jpg" alt="" />

              <div class="title">Food Restaurant | Chineese & Thai</div>

              <div class="location">Very Spicy | Serves 1 | Served Dry |</div>

              <div class="price">Price : $25.00</div>
              <div class="order flex">
                
                <div class="o">
                  <a href="#" class="btn btn-menu">ORDER NOW</a>
                  <a href="#" class="btn btn-menu">ADD TO CART</a>
               
                </div>
              </div>
            </div>

            <div class="menu-item">
              <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-4.jpg" alt="" />

              <div class="title">Food Restaurant | Chineese & Thai</div>

              <div class="location">Very Spicy | Serves 1 | Served Dry |</div>

              <div class="price">Price : $25.00</div>
              <div class="order flex">
                
                <div class="o">
                  <a href="#" class="btn btn-menu">ORDER NOW</a>
                  <a href="#" class="btn btn-menu">ADD TO CART</a>
               
                </div>
              </div>
            </div>

            <div class="menu-item">
              <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-5.jpg" alt="" />

              <div class="title">Food Restaurant | Chineese & Thai</div>

              <div class="location">Very Spicy | Serves 1 | Served Dry |</div>

              <div class="price">Price : $25.00</div>
              <div class="order flex">
                
                <div class="o">
                  <a href="#" class="btn btn-menu">ORDER NOW</a>
                  <a href="#" class="btn btn-menu">ADD TO CART</a>
               
                </div>
              </div>
            </div>

            <div class="menu-item">
              <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-6.jpg" alt="" />

              <div class="title">Food Restaurant | Chineese & Thai</div>

              <div class="location">Very Spicy | Serves 1 | Served Dry |</div>
              <div class="price">Price : $25.00</div>
              <div class="order flex">
                
                <div class="o">
                  <a href="#" class="btn btn-menu">ORDER NOW</a>
                  <a href="#" class="btn btn-menu">ADD TO CART</a>
               
                </div>
              </div>
              </div>
             
          </div>
        </div>
      </div>
    </div>
    <!-- End Restaurant Menu -->

    


    <!-- Footer -->
    <!-- contact section -->
   
    <div class="footer">
      <div class="container flex">
        

        <div class="footer-category">
          <h2>Our Menu</h2>

          <ul>
            <li>Starters</li>
            <li>Main Course</li>
            <li>Special Meals</li>
            <li>Beverages</li>
            <li>Desserts</li>
          </ul>
        </div>

        <div class="quick-links">
          <h2>Quick Links</h2>

          <ul>
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Menu</li>
            <li>Order</li>
            <li>Services</li>
          </ul>
        </div>

        <div class="get-in-touch">
          <h2>Get in touch</h2>
          <ul>
            <li>Account</li>
            <li>Support Center</li>
            <li>Feedback</li>
            <li>Suggession</li>
          </ul>
        </div>
      </div>

      <div class="copyright">
        <p>Copyright &copy; 2022. All Rights Reserved.</p>
      </div>
    </div>
    
          
    <!-- End Footer -->

    <!-- Ion Icons Js -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"
    ></script>
    <script
      nomodule
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"
    ></script>
  </body>
</html>
