{% extends 'base.html' %}

{% block title %}User Orders{% endblock title %}
{% block link %}
    
{% endblock link %}
{%block css%}
/* Reset and General Styles */


body {
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
.main-header {
    text-align: center;
    padding: 10px 0;
}

.main-header h1 {
    font-size: 2.5rem;
    color: orange;
}


.order-section {
    margin: 10px 0 50px;
}

.order-section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.order-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.order-card {
    background-color: #f0f2f5;
    border-radius: 8px;

    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}


.order-header {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.order-header h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight:600;
}

.order-header .order-date {
    font-size: 0.9rem;
    color: #666;
}

.order-details {
    margin-bottom: 20px;
}

.order-details p {
    margin-bottom: 10px;
    font-size: 1rem;
}

.order-details ul {
    list-style: none;
    padding-left: 0;
}

.order-details ul li {
    background-color: #f8f9fa;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 4px;
    font-size: 0.9rem;
    height:50px;
}

.order-actions {
    text-align: right;
    bottom: 15px;
    right: 15px;
}

.order-actions .btn {
    display: inline-block;
    padding: 8px;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.order-actions .track-order {
    float:left;
    background-color: orange;
}
.order-actions .cancel-order {
    background-color: #dc3545;
}

.order-actions .pay-now {
    float:left;
    background-color: orange;
}
.order-actions .remove {
    background-color: #dc3545;
}

.feedback {
    font-size:12px;
    float:right;
    background-color: orange;

}
.feedback :hover{
    opacity: 0.9;
    background-color: orange;
}

.order-actions .btn:hover {
    opacity: 0.9;
}

/* Responsive Design */
@media (max-width: 768px) {
    .order-list {
        grid-template-columns: 1fr;
    }
}
.fa-check-circle{
    color:green;
    font-size:18px;
}
.fa-info-circle{
    color:red;
    font-size:18px;
}
.fa-times-circle{
    color:red;
    font-size:18px;
}
/*============= FEEDBACK css =====*/
.modal{
    margin-top:30px;
    text-align:center;
}

.modal .rating{
  font-size: 40px;
  color: #e4e4e4;
  cursor: pointer;

}
.modal, .textarea, .end{
    padding: 15px;
}
.modal .head{
    padding-top: 15px;
}
.modal .textarea{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.modal .textarea p{
    font-size: 18px;
}
.modal textarea{
    outline: none;
    resize: none;
    height: 100px;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 5px;
}
.modal .end{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.modal .btn{
    width: 150px;
    height: 35px;
    cursor: pointer;
    background-color: orange;
    font-size: 15px;
}
.thankyou{
    height:360px;
    color:orange;
    width:100%;
    border-radius:10px;
    background:white;
    font-size:60px;
    font-weight:900;
    text-align:center;
    padding-top:111px;
}
.thankyou .fa-check-circle {
    color: #807b00;
    font-size: 80px;
}


{%endblock%}

{% block body %}
<div class="container">
    <header class="main-header">
        <h1>My Orders</h1>
    </header>

    <section id="current-orders" class="order-section">
        <h2>Current Orders</h2>
        <div class="order-list">
            {% for order in current_orders %}
                <div class="order-card">
                    <div class="order-header">
                        <h3>{{ order.name }}</h3>
                        <p class="order-date">Order Date: {{ order.order_date }}</p>
                    </div>
                    <div class="order-details">
                        <ul>
                            {% for item in order.orderitem_set.all %}
                                <li>{{ item.item.item_name }} - {{ item.quantity }}</li>
                            {% endfor %}
                        </ul>
                        <p><i class="fa fa-check-circle"></i> Rs. {{ order.total_price }}</p>
                        <p><i class="fa fa-info-circle"></i> Being Prepared</p>
                    </div>
                    <div class="order-actions">
                        <button class="btn track-order"><a>Track Your Order</a></button>
                        <button class="btn cancel-order"><a>Cancel Order</a></button>
                    </div>
                </div>
            {% empty %}
                <p>No current orders.</p>
            {% endfor %}
        </div>
    </section>

    <section id="payment-left-orders" class="order-section">
        <h2>Payment Left Orders</h2>
        <div class="order-list">
            {% for order in payment_left_orders %}
                <div class="order-card">
                    <div class="order-header">
                        <h3>{{ order.name }}</h3>
                        <p class="order-date">Order Date: {{ order.order_date }}</p>
                    </div>
                    <div class="order-details">
                        <ul>
                            {% for item in order.orderitem_set.all %}
                                <li>{{ item.item.item_name }} - {{ item.quantity }}</li>
                            {% endfor %}
                        </ul>
                        <p><i class="fa fa fa-times-circle"></i> Rs. {{ order.total_price }}</p>
                        <p><i class="fa fa-info-circle"></i> Payment Pending</p>
                    </div>
                    <div class="order-actions">
                        <a href="checkout/{{order.id}}"><button class="btn pay-now">Pay Now</button></a>
                        <a href="delete_order/{{order.id}}"><button class="btn remove">Remove</button></a>
                    </div>
                </div>
            {% empty %}
                <p>No orders with payment left.</p>
            {% endfor %}
        </div>
    </section>

    <section id="delivered-orders" class="order-section">
        <h2>Delivered Orders</h2>
        <div class="order-list">
            {% for order in delivered_orders %}
                <div class="order-card">
                    <div class="order-header">
                        <h3>{{ order.name }}</h3>
                        <p class="order-date">Order Date: {{ order.order_date }}</p>
                    </div>
                    <div class="order-details">
                        <ul>
                            
                            {% for item in order.orderitem_set.all %}
                                <li>
                                    {{ item.item.item_name }} -{{ item.quantity }} 
                                    <button class="btn feedback" type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal" data-item-id="{{ item.item.id }}">
                                        Feedback
                                    </button>
                                </li>
                            {% endfor %}

                            <!-- Modal Template -->
                            <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" id="modal-content">
                                        <div class="head">
                                            <p>Please rate the quality of food</p>
                                        </div>
                                        <div class="rating">
                                            <i class="fas fa-star" data-value="1"></i>
                                            <i class="fas fa-star" data-value="2"></i>
                                            <i class="fas fa-star" data-value="3"></i>
                                            <i class="fas fa-star" data-value="4"></i>
                                            <i class="fas fa-star" data-value="5"></i>
                                        </div>
                                        <div class="textarea">
                                            <p>Share your experience</p>
                                            <textarea name="exp" id="feedbackExp" placeholder="Let us know..."></textarea>
                                        </div>
                                        <div class="end">
                                            <div class="submission">
                                                <button class="sub btn" id="submitFeedback">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="thankyou" id="thankyou">
                                        <i class="fa fa-check-circle"></i>
                                        <h2>Thank you for Feedback</h2>
                                    </div>
                                </div>
                            </div>

                        </ul>
                        <p><i class="fa fa-check-circle"></i> Rs. {{ order.total_price }}</p>
                        <p><i class="fa fa-check-circle"></i> Delivered</p>
                    </div>
                    <div class="order-actions">
                        
                    </div>
                </div>
            {% empty %}
                <p>No delivered orders.</p>
            {% endfor %}
        </div>
    </section>
</div>

 {% endblock %}
 {% block js %}

  <script>
    document.addEventListener('DOMContentLoaded', () => {
        let currentItemId = null;
        let currentRating = 0;

        document.querySelectorAll('.btn.feedback').forEach(button => {
            button.addEventListener('click', function() {
                document.getElementById('modal-content').style.display = "block";
                document.getElementById('thankyou').style.display = "none";
                currentItemId = this.getAttribute('data-item-id');
                resetModal();
            });
        });
    
        // Handle star click events
        document.querySelectorAll('.rating .fa-star').forEach(star => {
            star.addEventListener('click', function() {
                currentRating  = parseInt(this.getAttribute('data-value'));
                const stars = this.parentElement.querySelectorAll('.fa-star');
                stars.forEach((s, index) => {
                    if (index < currentRating) {
                        stars[index].style.color = "#ffd93b"; 
                    }else{
                        stars[index].style.color = "#e4e4e4"; 
                    }
                });
            });
        });
    
        document.getElementById('submitFeedback').addEventListener('click', function() {
            const experience = document.getElementById('feedbackExp').value;
            if (currentRating === 0) {
                alert("Please select a rating.");
                return;
            }
            if (!experience) {
                alert("Please provide your feedback.");
                return;
            }
            fetch(`/api/feedback/`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({itemid:currentItemId,rating:currentRating,experience: experience})
            })

            console.log(`Item ID: ${currentItemId}, Rating: ${currentRating}, Experience: ${experience}`);
            document.getElementById('modal-content').style.display = "none";
            document.getElementById('thankyou').style.display = "block";
        });

        function resetModal() {
            currentRating = 0;
            document.getElementById('feedbackExp').value = '';
            document.querySelectorAll('.rating .fa-star').forEach(star => {
                star.style.color = "#e4e4e4"; 
            });
        }

        // Function to get the CSRF token from the Cookie
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
          }
    });
    
  </script>
{% endblock js %}

