{% extends 'base.html' %}
{% block title %}payment page{% endblock title %}
{% block link %}
    
{% endblock link %}
{%block css%}
body{
   background-color:black;
}
.btn_container{
    
    display:flex;
    justify-content:center;
    align-item:center;
    width:100%;
    height:100vh;

}
.btn{
    width:150px;
    height:40px;
    background-color:yellow;
    margin-top:200px;
} 

{%endblock%}

{% block body %}
  
<div class="btn_container">
    <!-- Payment Button -->
    <button class="btn" id="pay-btn">Pay {{total_cost}} Rs</button>
  </div> 




 {% endblock %}
 {% block js %}
 <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
 <script>
   var options = {
     "key": "{{ razorpay_merchant_key }}",
     "amount": "{{ razorpay_amount }}",
     "currency" : "{{ currency }}",
     "name": "ET platform",
     "order_id": "{{ razorpay_order_id }}",
     "callback_url": "{{ callback_url }}",
    
     handler: function (response) {
       console.log(response);
       window.location.href = "{% url 'home' %}";
     },
     
     "prefill": {
       "name": "{{ request.user.username}}",
       "email": "{{ request.user.email}}",
     },
     "theme": {
       "color": "#F37254"
     }
   };
   var rzp1 = new Razorpay(options);
   document.getElementById("pay-btn").onclick = function (e) {
     // Open the Razorpay payment popup
     rzp1.open();
     e.preventDefault();
   };
 </script>

  {% endblock js %} 